@import 'mixins_and_variables_and_functions';

.agent-activity-list {
  .system-note .timeline-entry-inner {
    .timeline-icon {
      @include gl-mt-1;
    }
  }

  &.issuable-discussion .main-notes-list::before {
    @include gl-top-3;
  }
}
